{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <!-- <section class="swiper-container" style="margin:0px">
        <a href="#"><img style="width:100%;height:350px"src="{{ url_for('static',filename='img/slide1.png')}}"></img></a>
    </section> -->


    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="#">
                    <img style="width:100%;height:350px" src="{{ url_for('static',filename='img/slide1.png') }}" alt="First slide">
                </a>
            </div>
    		<div class="item">
                <a href="#">
                    <img style="width:100%;height:350px" src="{{ url_for('static',filename='img/slide2.png') }}" alt="First slide">
                </a>
    		</div>
    		<div class="item">
                <a href="#">
                    <img style="width:100%;height:350px" src="{{ url_for('static',filename='img/slide3.png') }}" alt="First slide">
                </a>
    		</div>
    	</div>
    </div>
    {{super()}}
{%endblock%}

{% block style%}{{ super()}}{% endblock %}
{% block scripts %}	{{super()}}{% endblock %}
