<div class="container">
    <div class="text-line">
        <h5><span>网校课程</span>
            <div class="line"></div>
        </h5>
        <div style="color:#c7c7c7">精选网校课程，满足你的学习兴趣。</div>
    </div>
    <div class="course-filter" id="course-filter">
        <ul class="nav nav-pills hidden-xs" role="tablist">
            <li role="presentation" class="active  js-course-filter" data-url="/course/search?orderBy=latest" data-type="course"><a href="javascript:;">全部课程</a></li>
            <li role="presentation" class=" js-course-filter" data-url="/course/search?categoryId=7&amp;orderBy=latest" data-type="course"><a href="javascript:;">Unity</a></li>
            <li role="presentation" class=" js-course-filter" data-url="/course/search?categoryId=9&amp;orderBy=latest" data-type="course"><a href="javascript:;">Unreal Engine</a></li>
        </ul>
        <div class="btn-group visible-xs">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">全部课程 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="js-course-filter active " data-url="/course/search?orderBy=latest" data-type="course"><a href="javascript:;">全部课程</a></li>
                <li role="presentation" class="js-course-filter " data-url="/course/search?categoryId=7&amp;orderBy=latest" data-type="course"><a href="javascript:;">Unity</a></li>
                <li role="presentation" class="js-course-filter " data-url="/course/search?categoryId=9&amp;orderBy=latest" data-type="course"><a href="javascript:;">Unreal Engine</a></li>
            </ul>
        </div>
        <div class="course-sort btn-group">
            <a href="javascript:;" class="btn btn-default  active js-course-filter" data-url="/course/search?categoryId=0&amp;orderBy=latest" data-type="course">
                最新
            </a>
            <a href="javascript:;" class="btn btn-default js-course-filter" data-url="/course/search?categoryId=0&amp;orderBy=studentNum" data-type="course">
                最热
            </a>
            <a href="javascript:;" class="btn btn-default js-course-filter" data-url="/course/search?categoryId=0&amp;orderBy=recommendedSeq" data-type="course">
                推荐
            </a>
        </div>
    </div>
    <div class="course-list">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="course-item">
                    <div class="course-img">
                        <a href="/course/89" target="_blank">
                            <img src="/files/default/2017/12-17/093208827eab357729.png" alt="Unity初级案例 - 贪吃蛇（Unity2017.2.0）" class="img-responsive">
                        </a>
                    </div>
                    <div class="course-info">
                        <div class="title">
                            <a class="link-dark" href="/course/89" target="_blank">
                                Unity初级案例 - 贪吃蛇（Unity2017.2.0）
                            </a>
                        </div>
                        <div class="metas clearfix">
                            <span class="num"><i class="es-icon es-icon-people"></i>691</span>
                            <span class="comment"><i class="es-icon es-icon-textsms"></i>11</span>
                            <span class="course-price-widget">
                                <span class="free">免费</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="course-item">
                    <div class="course-img">
                        <a href="/course/88" target="_blank">
                            <img src="/files/default/2017/12-15/1351346bc59f770402.png" alt="Unity中级案例 - 捕鱼达人（Unity5.6.4）" class="img-responsive">
                        </a>
                    </div>
                    <div class="course-info">
                        <div class="title">
                            <a class="link-dark" href="/course/88" target="_blank">
                                Unity中级案例 - 捕鱼达人（Unity5.6.4）
                            </a>
                        </div>
                        <div class="metas clearfix">
                            <span class="num"><i class="es-icon es-icon-people"></i>931</span>
                            <span class="comment"><i class="es-icon es-icon-textsms"></i>24</span>
                            <span class="course-price-widget">
                                <span class="free">免费</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/86" target="_blank">
<img src="/files/default/2017/12-18/1829393ec666199546.png" alt="Unreal入门第一季 C++编程学习" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/86" target="_blank">
Unreal入门第一季 C++编程学习
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>424</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>8</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/84" target="_blank">
<img src="/files/default/2017/11-18/1743037e9069376782.png" alt="零基础入门Unity - 古迹探险（Unity2017）" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/84" target="_blank">
零基础入门Unity - 古迹探险（Unity2017）
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>3130</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>21</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/83" target="_blank">
<img src="/files/default/2017/11-06/114815f649e7219655.png" alt="Unity中的C#编程 - 零基础(Unity 2017)" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/83" target="_blank">
Unity中的C#编程 - 零基础(Unity 2017)
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>1954</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>8</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/82" target="_blank">
<img src="/files/default/2017/10-31/1334113325b9432637.png" alt="Unity中的动画系统和Timeline（Unity2017）" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/82" target="_blank">
Unity中的动画系统和Timeline（Unity2017）
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>2614</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>28</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/80" target="_blank">
<img src="/files/default/2017/10-24/211503750df1264746.png" alt="基于MVC架构的俄罗斯方块开发(基于Unity2017)" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/80" target="_blank">
基于MVC架构的俄罗斯方块开发(基于Unity2017)
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>0</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
<span class="course-price-widget">
<span class="
                              price
            ">
120元
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/79" target="_blank">
<img src="/files/default/2017/10-19/194243339e5e114944.png" alt="Unity中的Shuriken粒子系统（Unity2017）" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/79" target="_blank">
Unity中的Shuriken粒子系统（Unity2017）
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>1351</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>2</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/78" target="_blank">
<img src="/files/default/2017/10-15/22221687941c673174.png" alt="Unity零基础入门 - 见缝插针（Unity2017）" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/78" target="_blank">
Unity零基础入门 - 见缝插针（Unity2017）
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>2109</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>12</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/77" target="_blank">
<img src="/files/default/2017/10-14/164214651004690528.png" alt="Unity零基础入门 - 打砖块（Unity 2017）" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/77" target="_blank">
Unity零基础入门 - 打砖块（Unity 2017）
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>2191</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>15</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
<div class="course-item">
<div class="course-img">
<a href="/course/75" target="_blank">
<img src="/files/default/2017/07-18/16391532ab7f915033.png" alt="Lua编程" class="img-responsive">
</a>
</div>
<div class="course-info">
<div class="title">
<a class="link-dark" href="/course/75" target="_blank">
Lua编程
</a>
</div>
<div class="metas clearfix">
<span class="num"><i class="es-icon es-icon-people"></i>3756</span>
<span class="comment"><i class="es-icon es-icon-textsms"></i>45</span>
<span class="course-price-widget">
<span class="
                              free
            ">
免费
</span>
</span> </div>
</div>
</div> </div>
<div class="col-lg-3 col-md-4 col-xs-6">
    <div class="course-item">
    <div class="course-img">
    <a href="/course/74" target="_blank">
    <img src="/files/default/2017/07-18/1305040a980e684544.png" alt="AssetBundle从入门到掌握(基于Unity2017)" class="img-responsive">
    </a>
    </div>
    <div class="course-info">
    <div class="title">
    <a class="link-dark" href="/course/74" target="_blank">
    AssetBundle从入门到掌握(基于Unity2017)
    </a>
    </div>
    <div class="metas clearfix">
    <span class="num"><i class="es-icon es-icon-people"></i>3550</span>
    <span class="comment"><i class="es-icon es-icon-textsms"></i>28</span>
    <span class="course-price-widget">
    <span class="
                                  free
                ">
    免费
    </span>
    </span>             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-more-btn">
        <a href="/course/explore" class="btn btn-default btn-lg">更多课程
            <i class="mrs-o es-icon es-icon-chevronright"></i>
        </a>
    </div>
</div>
